<div class="container">
  <div class="registration-box">
    <h2 class="form-heading">Redefinir senha</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "Nova senha", class: "input-label" %>
        <% if @minimum_password_length %>
          <p class="hint">Mínimo: <%= @minimum_password_length %> caracteres</p>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "vintage-input" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmar nova senha", class: "input-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "vintage-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Alterar minha senha", class: "vintage-button" %>
      </div>
    <% end %>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
