<div class="container">
  <div class="registration-box">
    <h2 class="form-heading">Esqueci minha senha</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, "E-mail", class: "input-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "vintage-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar instruções de redefinição", class: "vintage-button" %>
      </div>
    <% end %>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
