<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Published year:</strong>
    <%= book.published_year %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= book.image_url %>
  </p>

  <%# Removi o bloco do User que estava causando o erro %>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

</div>