<div id="<%= dom_id book %>">
  <p>
    <strong>Título:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Ano de publicação:</strong>
    <%= book.published_year %>
  </p>

  <p>
    <strong>ISBN:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>URL da capa:</strong>
    <%= book.image_url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>
</div>
